:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 3em);
    grid-template-columns: repeat(var(--grid-cols), 3em);
    position: absolute;
    top: 125px;
    left: 35%;
  }
  
  .box {
    padding: 13px;
    border: 1px solid #ddd;
    text-align: center;
  }

.distraction {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ad {
  width:400px;
  height:300px;
  position:absolute;
}

.close {
  width: 50px;
  height: 50px;
  left: 745px;
  top: 5px;
  position: absolute;
  background-color: red;
}

.close:hover {
  transform: scale(1.05);
}

#ad1 {
  top:15%;
  left:20%;
}

#ad2 {
  top:10%;
  left:15%;
}

#ad3 {
  top:13%;
  left:13%;
}

#ad4 {
  top:15%;
  left:15%;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}