/*General*/

p {
    color:white;
}

h1 {
    color:rgb(47,120,187);
    font-size: 36;
}

/*Week 4*/

#Eyes {
    position: fixed;
    top: 70%;
    left: 33%;
    text-align:center;
    background-color:white;
    border-style: solid;
    border-color: black;
    border-radius: 5vh;
    width: 10vh;
}

#Nose {
    position: fixed;
    top: 30%;
    left: 50%;
    text-align:center;
    background-color:black;
    border-color: white;
    border-radius: 5vh;
    height: 50%;
    width: 10vh;
}

#Mouth {
    position: fixed;
    top: 90%;
    left: 30%;
    text-align:center;
    background-color:red;
    border-style: solid;
    border-color: black;
    border-radius: 5vh;
    width: 50%;
    height: 5%;
}

/*Week 7*/

@import url(//db.onlinewebfonts.com/c/56cf31e46327f947f8456ff47bb8acc9?family=FF+Oxide+Solid);
@font-face {font-family: "FF Oxide Solid"; src: url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.eot"); src: url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.woff") format("woff"), url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/56cf31e46327f947f8456ff47bb8acc9.svg#FF Oxide Solid") format("svg"); }

.W7p {
    color:white;
    font-family: FF Oxide Solid;
    letter-spacing: 0.6ex;
    line-height: 1.5em;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin: 0 auto
}

@keyframes WB {
    from {color:white;}
    to {color:black;}
}

.W7FlexImage {
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}
.W7FlexImage > a {
    margin:2%;
    transition: 0.2s;
}

.W7FlexImage > a:hover {
  transform: scale(1.1); 
}

.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: sticky;
    top:0%;
    background: rgb(0,173,239);
    color: black;
    border: 3px solid black;
}
.scroll-left pre {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
transform:translateX(120%);
animation: scroll-left 25s linear infinite;
}

.scroll-left pre:hover {
    animation-play-state: paused;
}
@keyframes scroll-left {
    from  {transform: translateX(120%);}
    to {transform: translateX(-120%);}
}

/*Week 9*/

#W9Div1 {
    position:absolute;
    top:37.5%;
    left:10%;
    width:25%;
    height:25%;
    background-color: black;
    color:white;
    font-size: 200%;
    text-align: center;
}

#W9Div2 {
    position:absolute;
    top:37.5%;
    left:37.5%;
    width:25%;
    height:25%;
    background-color: black;
    color:white;
    font-size: 200%;
    text-align: center;
}

#W9Div3 {
    position:absolute;
    top:37.5%;
    left:65%;
    width:25%;
    height:25%;
    background-color: black;
    color:white;
    font-size: 200%;
    text-align: center;
}